setuptools
streamlit
pandas
numpy
matplotlib
plotly
folium
streamlit-folium
geopy
requests
lxml
beautifulsoup4
ladybug-core
ladybug-geometry
honeybee-core
honeybee-energy
honeybee-vtk
dragonfly-core
streamlit-vtkjs
